* {
    background-color: #6F4E37;
}

h1 {
    font-family: cursive, 'Lucida Console', Times, serif;
    color: white;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
}

.container{
    width: 500px;
    height: auto;
    background-color: burlywood;
    color: black;
    margin: 20px auto;
    padding: 30px;
}

.container * {
    background-color: burlywood;
    color: black;
}

p {
    font-family: Arial, Helvetica, Times, serif;
    font-size: 20px;
}

ul , ol {
    list-style: circle;
    font-size: 25px;
}

.centerimages {
    text-align: center;
}

img {
    width: 500px;
    height: 300px;
}